<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Shifts</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <ion-calendar [(ngModel)]="date"
          (onChange)="onChange($event)"
          [type]="type"
          [format]="'YYYY-MM-DD'">
        </ion-calendar>
      </div>

</ion-content>
