<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink="/menu/progress" routerDirection="root">
            <ion-icon name="calendar-outline"></ion-icon>
            <ion-label>Shifts</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/menu/dashboard" routerDirection="root">
            <ion-icon name="list-outline"></ion-icon>
            <ion-label>Tasks</ion-label>
        </ion-tab-button>
        <ion-tab-button routerLink="/menu/add-activity" routerDirection="root">
            <ion-icon name="megaphone-outline"></ion-icon>
            <ion-label>Complaints</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
