<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Export</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
    <h2>Download the data</h2>
    <section>
        <ion-button color="secondary">Download all</ion-button>
        <ion-button color="secondary">Download Group Data</ion-button>
    </section>
    <br>

    <!--h2>Download static data!</h2>

    <ion-row>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Entity</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-select [(ngModel)]="select" placeholder="Select One">
                        <ion-select-option value="defaultGoals">Default Goals</ion-select-option>
                        <ion-select-option value="trophies">Trophies</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data</ion-label>
                </ion-list-header>

                <ion-button color="secondary" (click)="export(select, 'all', 'all')">Download</ion-button>

            </ion-list>
        </ion-col>
    </ion-row>

    <h2>Download data from all users!</h2>

    <ion-row>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data for all Users</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-text>All Users</ion-text>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Entity</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-select [(ngModel)]="select" placeholder="Select One">
                        <ion-select-option value="viewLogs">View Logs</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data</ion-label>
                </ion-list-header>

                <ion-button color="secondary" (click)="export(select, 'all', 'all')">Download</ion-button>

            </ion-list>
        </ion-col>
    </ion-row-->

    <h2>Download store data</h2>


    <ion-row>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data for all Groups</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Entity</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center" *ngFor="let group of groups">

        <ion-col size="4">
            <ion-list>
                <ion-item>
                    <ion-text>{{group.name}}</ion-text>
                </ion-item>
            </ion-list>
        </ion-col>

        <ion-col size="4">
            <ion-list>
                <ion-item>
                    <ion-select [(ngModel)]="group.select" placeholder="Select One">
                        <ion-select-option value="tasks">Tasks</ion-select-option>
                        <ion-select-option value="viewLogs">View Logs</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col size="4">
            <ion-button color="secondary" (click)="export(group.select, 'group', group.id)">Download</ion-button>
        </ion-col>
    </ion-row>

    <!--h2>Download user data!</h2>
    <ion-row>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data for Users</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Entity</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
        <ion-col size="4">
            <ion-list>
                <ion-list-header>
                    <ion-label>Data</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
    </ion-row>


    <ion-row class="ion-align-items-center" *ngFor="let user of users">
        <ion-col size="4">
            <ion-list>
                <ion-item>
                    <ion-text>{{user.name}}</ion-text>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col size="4">
            <ion-list>
                <ion-item>
                    <ion-select [(ngModel)]="user.select" placeholder="Select One">
                        <ion-select-option value="viewLogs">View Logs</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col size="4">
            <ion-list>
                <ion-button color="secondary" (click)="export(user.select, 'user', user.id)">Download</ion-button>
            </ion-list>
        </ion-col>
    </ion-row-->

    <h2>Download the whole database</h2>
    <ion-row>
        <ion-button color="secondary" (click)="exportDb()">Download</ion-button>
    </ion-row>
</ion-content>

