<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tasks</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="card-background-page">
    
    <ion-list>
        <ion-list-header>Active Tasks</ion-list-header>
        <ion-item *ngFor="let activeTask of activeTasks">
            <ion-label>
                <h2>{{activeTask.title}}</h2>
            <p>{{activeTask.description}}</p>
            <p>{{activeTask.endTime | date}}</p></ion-label>
            <div class="item-note" slot="start">
                <ion-checkbox color="success" (click)="completeTask(activeTask)">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-checkbox>
            </div>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-list-header>Assigned Tasks
        </ion-list-header>
        
      
        <div *ngIf="(tasks | async)">
            <ion-item *ngFor="let task of myTasks">
                <ion-label><h2>{{task.title}}</h2>
                <p>{{task.description}}</p>
                <p>{{task.endTime | date}}</p>
                </ion-label>
                <div class="item-note" slot="end">
                    <ion-button color="success" (click)="startTask(task)">
                        Start
                    </ion-button>
                </div>
                <div class="item-note" slot="start">
                    <ion-checkbox  color="success" (click)="completeTask(task)">
                        <ion-icon name="checkmark"></ion-icon>
                    </ion-checkbox>
                </div>
            </ion-item>
            <ion-item *ngFor="let completedTask of completedTasks" disabled="">
                <ion-label><h2>{{completedTask.title}}</h2>
                <p>{{completedTask.description}}</p>
                <p>{{completedTask.endTime | date}}</p>
                </ion-label>
                <div class="item-note" slot="start">
                    <ion-checkbox checked color="success" (click)="completeTask(completedTask)">
                        <ion-icon name="checkmark"></ion-icon>
                    </ion-checkbox>
                </div>
            </ion-item>
            <ion-item>
                <div class="item-note" slot="end">
                    <ion-button color="secondary">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                </div>
               
            </ion-item>
        </div>
    </ion-list>
    <ion-list>
        <ion-list-header>Other Tasks</ion-list-header>
       
        <div *ngIf="(tasks | async)">
            <ion-item *ngFor="let otherTask of otherTasks">
                <ion-label><h2>{{otherTask.title}}</h2>
                    <p>{{otherTask.description}}</p>
                    <p>{{otherTask.endTime | date}}</p>
                </ion-label>
                <div *ngIf="otherTask.assignee !== 'not assigned'; else assignee">
                    <ion-label slot="end">{{otherTask.assignee }}</ion-label>
                </div>
                <ng-template class="item-note" slot="end" #assignee>
                    <ion-button color="success" (click)="assign(otherTask)">
                        Assign
                    </ion-button>
                </ng-template>
            </ion-item>
            <ion-item>
                <div class="item-note" slot="end">
                    <ion-button color="secondary">
                        <ion-icon name="add-outline"></ion-icon>
                    </ion-button>
                </div>
            </ion-item>
        </div>
    </ion-list>
    
</ion-content>


<!--<ion-row *ngFor="let row of allservices">
    <ng-container *ngFor="let item of row">
      <ion-col style="padding:1px;" [attr.col-8]="item.col8">
        <ion-card [routerLink]='item.routerLink'>
          <ion-item>
        <div class="tile">{{item.label}}</div>
      </ion-item>
      </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>-->
