<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tasks</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="card-background-page">
    <h2 class="ion-padding-horizontal">My Tasks</h2>
    <h4 class="ion-padding-horizontal">Active</h4>
    <ion-list>
        <ion-item *ngFor="let activeTask of activeTasks">
            <ion-label>{{activeTask.title}}
                <br>Description: {{activeTask.description}}
            </ion-label>
            <div class="item-note" slot="end">
                
                {{activeTask.endTime | date}}
                <ion-button color="success" (click)="completeTask(activeTask)">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-button>
            </div>
        </ion-item>
    </ion-list>

    <ion-list>
        <ion-item>
            <ion-label><b>Task</b></ion-label>
            <div class="item-note" slot="end">
                <ion-button color="secondary">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-item>
        <div *ngIf="(tasks | async)">
            <ion-item *ngFor="let task of myTasks">
                <ion-label text-wrap>{{task.title}}<p> Description: {{task.description}}</p></ion-label>
                <div class="item-note" slot="end">
                    {{task.endTime | date}}
                    <ion-button color="success" (click)="startTask(task)">
                        Start
                    </ion-button>
                </div>
                <div class="item-note" slot="end">
                    <ion-button color="success" (click)="completeTask(task)">
                        <ion-icon name="checkmark"></ion-icon>
                    </ion-button>
                </div>
            </ion-item>
            <ion-item *ngFor="let completedTask of completedTasks" disabled="">
                <ion-label text-wrap>{{completedTask.title}}
                    <p>Description: {{completedTask.description}}</p></ion-label>
                <div class="item-note" slot="end">
                    {{completedTask.endTime | date}}
                    <ion-button color="success" (click)="completeTask(completedTask)">
                        <ion-icon name="checkmark"></ion-icon>
                    </ion-button>
                </div>
            </ion-item>
        </div>
    </ion-list>
    <h2 class="ion-padding-horizontal">All Tasks</h2>
    <ion-list>
        <ion-item>
            <ion-label><b>Task</b></ion-label>
            <div class="item-note" slot="end">
                <ion-button color="secondary">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-item>
        <div *ngIf="(tasks | async)">
            <ion-item *ngFor="let otherTask of otherTasks">
                <ion-label text-wrap>{{otherTask.title}}<p>Description: {{otherTask.description}}</p></ion-label>
                <div *ngIf="otherTask.assignee !== 'not assigned'; else assignee">
                    <ion-label slot="end">{{otherTask.assignee }}</ion-label>
                </div>
                <ng-template class="item-note" slot="end" #assignee> {{otherTask.endTime | date}}
                    <ion-button color="success" (click)="assign(otherTask)">
                        Assign
                    </ion-button>
                </ng-template>
            </ion-item>
        </div>
    </ion-list>
</ion-content>


<!--<ion-row *ngFor="let row of allservices">
    <ng-container *ngFor="let item of row">
      <ion-col style="padding:1px;" [attr.col-8]="item.col8">
        <ion-card [routerLink]='item.routerLink'>
          <ion-item>
        <div class="tile">{{item.label}}</div>
      </ion-item>
      </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>-->
