<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Dashboard</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content class="card-background-page">
    <h2 class="ion-padding-horizontal">Task List</h2>
    <ion-list>
        <ion-item>
            <ion-label><b>Task</b></ion-label>
            <ion-label><b>Description</b></ion-label>
            <ion-label><b>Due</b></ion-label>
            <div class="item-note" slot="end">
                <ion-button color="secondary">
                    <ion-icon name="add-outline"></ion-icon>
                </ion-button>
            </div>
        </ion-item>
        <ion-item *ngFor="let task of (tasks |async)">
            <ion-label>{{task.title}}</ion-label>
            <ion-label>{{task.description}}</ion-label>
            <ion-label>{{task.endTime | date}}</ion-label>
            <div class="item-note" slot="end">
                <ion-button color="success" (click)="completeTask(task)">
                    <ion-icon name="checkmark"></ion-icon>
                </ion-button>
            </div>
        </ion-item>
    </ion-list>

</ion-content>


<!--<ion-row *ngFor="let row of allservices">
    <ng-container *ngFor="let item of row">
      <ion-col style="padding:1px;" [attr.col-8]="item.col8">
        <ion-card [routerLink]='item.routerLink'>
          <ion-item>
        <div class="tile">{{item.label}}</div>
      </ion-item>
      </ion-card>
      </ion-col>
    </ng-container>
  </ion-row>-->
