
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button class="show-back-button" (click)="goBack()"></ion-back-button>
    </ion-buttons>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Credits</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-img width="20" src="../assets/Logo.png" >
  </ion-img>


  <ion-card>
    <ion-list-header>
      App Designed & Developed by...
  </ion-list-header>
    <ion-list>
       
        <ion-item>
            <ion-label>
              <p>Konstantin Schmidt</p>
                  <p>Murat Selcuk</p> 
                  <p>Klara Roth</p>
                  <p>Sharon Joseph </p>
                  <p>Victoria Seibert</p> 
                  
            </ion-label>
        </ion-item>
    </ion-list>
</ion-card>



</ion-content>
