<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tasks</ion-title>
    </ion-toolbar>

    <section>
        <ion-button color="secondary" slot="end" (click)="presentPopover($event)">Create Task
        </ion-button>
    </section>
    <br><br><br>

    <ion-row>
        <ion-col size="2">
            <ion-list>
                <ion-list-header>
                    <ion-label>Title</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="2">
            <ion-list>
                <ion-list-header>
                    <ion-label>Description</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="2">
            <ion-list>
                <ion-list-header>
                    <ion-label>Starts</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="2">
            <ion-list>
                <ion-list-header>
                    <ion-label>Ends</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
    </ion-row>

</ion-header>

<ion-content>

    <h2>All open Tasks!</h2>

    <ng-container *ngFor="let challenge of tasks">
        <ion-row class="ion-align-items-end"
                 *ngIf="!challenge.finished && challenge.endTime.getTime() > today.getTime()">
            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-textarea [(ngModel)]="challenge.title"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-textarea [(ngModel)]="challenge.description"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-datetime [(ngModel)]="challenge.startTime"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-datetime [(ngModel)]="challenge.endTime" [min]="challenge.startTime"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-select placeholder="Select One" [(ngModel)]="challenge.assignee">
                        <ion-select-option *ngFor="let user of users"
                                           [value]="user.id">{{user.name}}</ion-select-option>
                    </ion-select>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-button color="secondary" (click)="editTask(challenge)">Save</ion-button>
                <ion-button color="secondary" (click)="endTask(challenge)">End</ion-button>
            </ion-col>
        </ion-row>
    </ng-container>

    <h2>All finished Tasks!</h2>
    <ng-container *ngFor="let challengeF of tasks">
        <ion-row class="ion-align-items-end"
                 *ngIf="challengeF.finished || challengeF.endTime.getTime() < today.getTime()">
            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-textarea [(ngModel)]="challengeF.title"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-textarea [(ngModel)]="challengeF.description"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-datetime [(ngModel)]="challengeF.startTime"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-datetime [(ngModel)]="challengeF.endTime"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-select placeholder="Select One" [(ngModel)]="challengeF.assignee">
                        <ion-select-option *ngFor="let user of users"
                                           [value]="user.id">{{user.name}}</ion-select-option>
                    </ion-select>
                </ion-list>
            </ion-col>
        </ion-row>
    </ng-container>


</ion-content>
