<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tasks</ion-title>
    </ion-toolbar>

    <section>
        <ion-button color="secondary" slot="end" (click)="presentPopover($event)">Create Task
        </ion-button>
    </section>
    <br><br><br>

    <ion-row>
        <ion-col size="2">
            <ion-list>
                <ion-list-header>
                    <ion-label>Title</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="2">
            <ion-list>
                <ion-list-header>
                    <ion-label>Description</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="2">
            <ion-list>
                <ion-list-header>
                    <ion-label>Starts</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>

        <ion-col size="2">
            <ion-list>
                <ion-list-header>
                    <ion-label>Ends</ion-label>
                </ion-list-header>
            </ion-list>
        </ion-col>
    </ion-row>

</ion-header>

<ion-content>

    <h2>All open Tasks!</h2>

    <ion-button color="secondary" (click)="createMockData()">Create mock data</ion-button>

    <ng-container *ngFor="let task of (tasksObserve | async)">
        <ion-row class="ion-align-items-end"
                 *ngIf="!task.finished && task.endTime.getTime() > today.getTime()">
            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-textarea [(ngModel)]="task.title"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-textarea [(ngModel)]="task.description"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-datetime [(ngModel)]="task.startTime"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-datetime [(ngModel)]="task.endTime" [min]="task.startTime"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-select placeholder="Select One" [(ngModel)]="task.assignee">
                        <ion-select-option *ngFor="let user of users"
                                           [value]="user.id">{{user.name}}</ion-select-option>
                    </ion-select>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-button color="secondary" (click)="editTask(task)">Save</ion-button>
                <ion-button color="secondary" (click)="endTask(task)">End</ion-button>
            </ion-col>
        </ion-row>
    </ng-container>

    <h2>All finished Tasks!</h2>
    <ng-container *ngFor="let taskF of (finishedTasksObserve | async)">
        <ion-row class="ion-align-items-end">
            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-textarea [(ngModel)]="taskF.title"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-textarea [(ngModel)]="taskF.description"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-datetime [(ngModel)]="taskF.startTime"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-item>
                        <ion-datetime [(ngModel)]="taskF.endTime"></ion-datetime>
                    </ion-item>
                </ion-list>
            </ion-col>

            <ion-col size="2">
                <ion-list>
                    <ion-select placeholder="Select One" [(ngModel)]="taskF.assignee">
                        <ion-select-option *ngFor="let user of users"
                                           [value]="user.id">{{user.name}}</ion-select-option>
                    </ion-select>
                </ion-list>
            </ion-col>
        </ion-row>
    </ng-container>


</ion-content>
