<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tasks</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-horizontal">
    <h2>Open Tasks</h2>

    <ion-button color="secondary" (click)="presentPopover($event)">Create Task</ion-button>
    <ion-button color="secondary" (click)="createMockData()">Create mock data</ion-button>

    <ion-list>
        <ion-item *ngFor="let task of (tasksObserve|async)">
            <ion-label>
                <h2>{{task.title}}</h2>
                <p>{{task.description}}</p>
                <p>{{task.startTime | date:'MMM d, y, hh:mm'}}</p>
            </ion-label>
            <ion-label>
                <h2>Assignee</h2>
                <p>
                    <ion-select class="ion-text-left" placeholder="Select One" [(ngModel)]="task.assignee"
                                (ionChange)="editTask(task)">
                        <ion-select-option *ngFor="let user of users"
                                           [value]="user.id">{{user.name}}</ion-select-option>
                    </ion-select>
                </p>
            </ion-label>


            <ion-icon name="stop" color="warning" slot="start" *ngIf="task.urgency === 'medium'"></ion-icon>
            <ion-icon name="stop" color="success" slot="start" *ngIf="task.urgency === 'low'"></ion-icon>
            <ion-icon name="stop" color="danger" slot="start" *ngIf="task.urgency === 'high'"></ion-icon>
            <div class="item-note">
                <ion-button color="success" (click)="editTask(task)">
                    Save
                </ion-button>
            </div>

            <ion-button color="light" (click)="endTask(task)">
                End
                <ion-icon name="stop" color="danger" slot="end"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>

    <h2>Finished Tasks</h2>

    <ion-list>
        <ion-item *ngFor="let task of (finishedTasksObserve|async)" disabled="True">
            <ion-label>
                <h2>{{task.title}}</h2>
                <p>{{task.description}}</p>
                <p>{{task.startTime | date:'MMM d, y, hh:mm'}}</p>
            </ion-label>
            <ion-label>
                <h2>Assignee</h2>
                <p>
                    <ion-select class="ion-text-left" placeholder="Select One" [(ngModel)]="task.assignee">
                        <ion-select-option *ngFor="let user of users"
                                           [value]="user.id">{{user.name}}</ion-select-option>
                    </ion-select>
                </p>
            </ion-label>


            <ion-icon name="stop" color="warning" slot="start" *ngIf="task.urgency === 'medium'"></ion-icon>
            <ion-icon name="stop" color="success" slot="start" *ngIf="task.urgency === 'low'"></ion-icon>
            <ion-icon name="stop" color="danger" slot="start" *ngIf="task.urgency === 'high'"></ion-icon>
            <ion-button color="light" *ngIf="task.done; else notDone">
                Completed
                <ion-icon name="stop" color="success" (click)="endTask(task)" slot="end"></ion-icon>
            </ion-button>
            <ng-template #notDone>
                <ion-button color="warning" *ngIf="task.done; else notDone">
                    Incomplete
                    <ion-icon name="stop" color="danger" (click)="endTask(task)" slot="end"></ion-icon>
                </ion-button>
            </ng-template>
        </ion-item>
    </ion-list>


</ion-content>
